.left {
    height: 100%;
    background-color: #03123D;
    position: fixed;

}
.starwars{
  margin: 1rem;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;

}

.text {
    width: 10rem;
    font-size: 1rem;
    border: 1px solid white;
    border-radius: 4px;
    height: 1.5rem;
    background-color: #03123D;
    padding: 0.5rem;
    color: white;
    font-family: var(--font1);
    font-weight: 400;
}

.s-icon {
    height: 1.5rem;
    color: white;
    background-color: #03123D;
    border: none;
}

.list-left {
    display: flex;
    padding: 0 1rem;
}

ul {
    list-style: none;
}

li {
    margin: 2vh 0;
}
.linksty:hover{
  transform: scale(1.02);
}
.linksty {
    text-decoration: none;
    display: flex;
    overflow: hidden;
    transition: all 300ms ease-in;
  }
  
  .hello {
    background-color: #03123D;
    border: 1px solid #ccc;
    color: white;
    font-weight: 500;
    font-size: 2.5vh;
    font-family: var(--font1);
    display: flex;
    align-items: center;
    padding: 0.5vh 1vw;
    cursor: pointer;
    width: 15vw; /* Set the button width to 100% of the parent container (li) */
  box-sizing: border-box;
  position: relative;
  border: none;
  border-radius: 6px;
  }

  .content {
    display: flex;
    align-items: center;
  }
  
  .folder {
    margin-right: 0.5rem; 
  }
  
  .arrow {
    left: 13vw;
    position: absolute;
  }
  
  .hello:hover {
    background-color: #CB1A80;

  }

  .hello:hover .content,
  .hello:hover .arrow,
  .hello:hover .folder,
  .hello:hover span{
    background-color: #CB1A80;
  }
  .linksty.selected .hello {
    background-color: #CB1A80;
  }


@media (max-width:800px){
  .arrow{
      left: 100px;
  }
}